<div class="row col-sm-8 col-sm-offset-2">
  <h3>New snippet</h3>
  
  <div class="well snippet-form-wrapper">
    
    <form name="newSnippetForm" class="add-snippet-form" ng-submit="addSnippet(newSnippetForm.$valid)" novalidate>
      <div class="form-group" ng-class="{ 'has-error' : newSnippetForm.author.$invalid && !newSnippetForm.author.$pristine }">
        <label for="author">Author*</label>
        <input  
          ng-model="author"
          ng-required="true"
          type="text" 
          name="author"
          class="form-control" 
          id="author" 
          placeholder="Enter Author"
          required>
        <div ng-show="newSnippetForm.author.$invalid && !newSnippetForm.author.$pristine" class="label label-danger">Author is required.</div>
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <textarea 
          ng-model="description"
          name="description" 
          id="description" 
          class="form-control" 
          rows="5"></textarea>
      </div>

      <div class="form-group">
        <label for="snippet">Code*</label>
        <div ui-ace="{
          useWrapMode : true,
          showGutter: true,
          theme:'twilight',
          mode: 'javascript',
          onLoad: 'configureAce'
        }" 
        ng-model="code"
        ng-required="true"></div>
        <div ng-show="!code.length" class="label label-danger">Please enter your snippet in the code area.</div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-6">
          <button type="submit" class="btn btn-primary full-width" ng-disabled="newSnippetForm.$invalid || !code.length">Add</button>
        </div>
      </div>
    </form>
  </div>

</div>